@model ErrorViewModel
@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Открытие страницы вызвало ошибку:</h1>
<h2 class="text-danger">@Model.Message</h2>

<p>
    Попробуйте перейти на другу страницу
</p>
