@model ErrorViewModel
@{
    ViewBag.Title = "Открытие страницы вызвало ошибку";
}

<h1 class="text-danger">Открытие страницы вызвало ошибку</h1>
<h2 class="text-danger">@Model.Message</h2>

<p>
    @(Model.DevelopmentInfo ?? "Попробуйте перейти на другую страницу")
</p>
