@model Vaccination.App.CQRS.Patients.Commands.CreatePatient.CreatePatientVM

@{
    ViewBag.Title = "Добавление нового пациента";
}

<h2>@ViewBag.Title</h2>

<hr />

<form asp-action="@PatientsRoutes.create" asp-controller="@PatientsRoutes.controller" method="post" asp-antiforgery="true">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-md-4">
            <h4>Новый пациент</h4>

            <partial name="_EditPatient" />

            <div class="form-group mt-5 float-right">
                <input type="submit" value="Сохранить" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

