@model Vaccination.App.CQRS.Patients.Queries.GetPatients.PatientsListVM

@{
    ViewBag.Title = @"Сайт ""Прививки""";
}

<h1>@ViewBag.Title</h1>

<a asp-controller="@PatientsRoutes.Controller" asp-action="Index">Пациенты</a>